<div class="row" contact-list>
    <div class="span4">
        <div class="well">
            <h2>Contacts</h2>

            <form class="form-search">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-search"></i></span>
                    <input type="text" class="input-medium" ng-model="search">
                </div>
            </form>
            <div ng-show="search">You searched : {{search}}</div>

            <ul class="unstyled">
                <li ng-repeat="contact in contactList.contacts | doSearch:search"><a tooltip="contact" href="#/contact/{{contact.id}}/view">{{contact.firstName}} {{contact.lastName}}</a></li>
            </ul>
        </div>
    </div>

    <div class="span8">
        <div class="row">
          <vcard contact="contact" class="span4" ng-repeat="contact in contactList.contacts | doSearch:search"></vcard>
        </div>
    </div>
</div>